---
import BaseLayout from "./BaseLayout.astro";

const {
  title = "Ævyndal",
  description = "",
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main class="page">
    <slot />
  </main>
</BaseLayout>
