---
import { media } from "../../data/media";
---

<div class="ambient-backdrop" aria-hidden="true" style={`--world-image: url('${media.home.heroPoster}')`}>
  <div class="ambient-backdrop__image"></div>
  <div class="ambient-backdrop__fog ambient-backdrop__fog--near"></div>
  <div class="ambient-backdrop__fog ambient-backdrop__fog--far"></div>
  <div class="ambient-backdrop__noise"></div>
</div>
